.newPlaylist {
  margin-top: 4vh !important;
  width: 90%;

  border-radius: 50px !important;
  padding: 10px 0 !important;
  color: white !important;
  border: none !important;

  background-color: rgb(255 255 255 / 10%) !important;
  font-weight: 600 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.DrawerHead {
  border-bottom: 1px solid rgb(29, 29, 29) !important;
}
.newPlaylist:hover {
  background-color: rgba(255, 255, 255, 0.168) !important;
}

.mainList {
  background: black;
  color: white;
  height: 100%;
}
.drawer>div {
  border-right:1px solid rgb(44, 43, 43) !important;
  margin:10px 0 0 0 ;
 
}
.appbar>div{
  box-shadow: -1px -2px 4px rgb(0, 0, 0);
  border-bottom: 1px solid rgb(29, 29, 29) !important;
  background-color: black!important;
  
}
.css-1r8v3uq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
}
.db {
  padding: 0px !important;
}
.mainList li {
  
  border-radius: 1vw !important;
  padding: 1vh 0 !important;
  font-weight: bold !important;
  font-size: 37px !important;
}
.mainList li:first-child {
  background-color: rgba(255, 255, 255, 0.1) !important;
 
}
.mainList li:hover {
  background-color: rgba(92, 92, 92, 0.641) !important;
}
.menuIcon {
  color: white !important;
  font-size: 25px !important;
}
.logo {
  padding-left: 3vw !important;
  color: yellow !important;
  width: 110%;
}
.searchInput {
  border: none !important;
}
.homeContainer {
  display: flex !important;
  color: white !important;
  width: 100% !important;
}
.divider hr {
  background-color: grey !important;

  width: 80%;
  height: 2px;
  margin-top: vh;
}

.divider {
  display: flex;
  justify-content: center;
}

@media (max-width: 500px) {
  .appbar img {
    display: none !important;
  }
}
.searchInput {
  width: 34vw !important;
  height: 80% !important;
  display: flex;
  align-items: center;
  border-radius: 12px !important;
  border: 1px solid gray;
}

.inp input {
  width: 30vw !important;
}
.navigationbar {
  background-color: rgb(0, 0, 0) !important;
}
/* .container{
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  min-width: 100vw;
}
.aside{
  background-color: black;
  min-height: 100vh;
  width: 13%;
  margin-top: 80px!important;
  background-color: rgb(46, 251, 0) !important;
  box-shadow: 10px 10px 15px red !important;
}
.body{
  background-color: rgb(39, 38, 40);
  min-height: 100vh;
  width: 50%;
  margin-top: 80px!important;
  background-color: rgb(46, 251, 0) !important;
  box-shadow: 10px 10px 15px red !important; 
}
.sideNav li{
  border-radius: 1.5vh;
  height: 7vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type:none;
  display: flex;
 justify-content: center;
 align-items: center;
}
.sideNav{
  padding-bottom: 4vh;
  border-bottom: 2px solid grey;
  background-color: green !important;
} */
.DrawerHead {
  background-color: black !important;
  box-shadow: 1px 1px 10px rgb(0, 0, 0) inset !important;
}
.home-container {
  min-height: 100% !important;
  background-image: linear-gradient(rgb(7, 40, 73), black, black, black, black),
    url("https://wallpapertag.com/wallpaper/full/d/8/e/853265-best-white-background-wallpaper-1080x1920-for-iphone-6.jpg");
  padding-left: 20px;
  width: 100% !important;
  border: 5px solid rgb(0, 0, 0) !important;
  position: relative !important;
}


@media (min-width: 300px) and (max-width: 600px) {
  .appbar>div {
    min-height: 48px;
    display: flex;
    justify-content: space-between;
  }
  .appbar img {
    display: none !important;
  }
  .mix {
    font-size: 28px;
  }
}

@media (max-width: 582px) {
  .musicbar {
    font-size: 15px !important;
  }
  .home-container {
    padding-left: 0 !important;
  }
}
@media (max-width: 300px) {
  .appbar input {
    width: 50% !important;
  }
  .appbar img {
    display: none !important;
  }
  .mix {
    font-size: 23px;
  }
  .details2 h3 {
    display: none;
  }
}

.appbar {
  justify-content: space-between!important;
}

.pagination {
  color: white !important;
}



.Home-sub-container {
  margin-top: 30px;
  min-height: 83vh;
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}
