.newPlaylist {
  margin-top: 4vh !important;
  width: 90%;
  
  border-radius: 50px !important;
  padding: 10px 0 !important;
  color: white !important;
  border: none !important;
  
  background-color: rgb(255 255 255 / 10%) !important;
  font-weight: 600 !important;
  font-family: Arial, Helvetica, sans-serif !important;
}

.DrawerHead {
  border-bottom: 1px solid rgb(29, 29, 29) !important;
}
.newPlaylist:hover {
  background-color: rgba(255, 255, 255, 0.168) !important;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper {
  background-color: rgb(6, 6, 6) !important;
  border-right: 1px solid rgb(29, 29, 29) !important;
}
.css-hyum1k-MuiToolbar-root {
  box-shadow: -5px -4px 2px rgb(10, 10, 10);
  border-bottom: 1px solid rgb(29, 29, 29) !important;
}
.css-1r8v3uq-MuiPaper-root-MuiAppBar-root {
  box-shadow: none !important;
}
.css-zxdg2z {
  padding: 0 !important;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper li {
  border-radius: 1vw !important;
  padding: 1vh 0 !important;
  font-weight: bold !important;
  font-size: 37px !important;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper ul li:first-child {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
.css-12i7wg6-MuiPaper-root-MuiDrawer-paper li:hover {
  background-color: rgba(92, 92, 92, 0.641) !important;
}
.menuIcon {
  color: white !important;
  font-size: 25px !important;
}
.logo {
  padding-left: 3vw !important;
  color: yellow !important;
  width: 110%;
}
.searchInput {
  border: none !important;
}
.homeContainer {
  display: flex !important;
  color: white !important;
  width: 100% !important;
}
.css-9mgopn-MuiDivider-root {
  background-color: grey !important;
  
  width: 80%;
  margin-top: vh;
}

.divider {
  display: flex;
  justify-content: center;
  
}


@media (max-width: 500px){
  
  .css-8u39c-MuiTypography-root img{
    display: none !important;
  }

 
}
.searchInput{
  width: 34vw!important;
  height: 80%!important;
  display: flex;
  align-items: center;
  border-radius: 12px!important;
  border: 1px solid gray;
}

.inp input{

  width: 30vw!important;

  
}
.navigationbar{
  background-color: rgb(0, 0, 0)!important;
}
/* .container{
  background-color: rgb(0, 0, 0);
  min-height: 100vh;
  min-width: 100vw;
}
.aside{
  background-color: black;
  min-height: 100vh;
  width: 13%;
  margin-top: 80px!important;
  background-color: rgb(46, 251, 0) !important;
  box-shadow: 10px 10px 15px red !important;
}
.body{
  background-color: rgb(39, 38, 40);
  min-height: 100vh;
  width: 50%;
  margin-top: 80px!important;
  background-color: rgb(46, 251, 0) !important;
  box-shadow: 10px 10px 15px red !important; 
}
.sideNav li{
  border-radius: 1.5vh;
  height: 7vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  list-style-type:none;
  display: flex;
 justify-content: center;
 align-items: center;
}
.sideNav{
  padding-bottom: 4vh;
  border-bottom: 2px solid grey;
  background-color: green !important;
} */
.DrawerHead{
  background-color: black!important;
}
.home-container{
  min-height: 90vh;
  background-image: linear-gradient(rgb(7, 40, 73), black, black, black, black),
  url("https://wallpapertag.com/wallpaper/full/d/8/e/853265-best-white-background-wallpaper-1080x1920-for-iphone-6.jpg");
  padding-left: 20px;
  width: 100%!important;
  position: relative !important;
} 

@media (min-width:300px) and  (max-width: 600px){
  .css-hyum1k-MuiToolbar-root {
    min-height: 48px;
    display: flex;
    justify-content: space-between;
  }
  .css-8u39c-MuiTypography-root img{
    display: none !important;
  }
  .mix{
    font-size: 28px;
  }
}


@media (max-width: 582px){
  .musicbar {
    font-size: 15px!important;
  }
  .home-container{
    padding-left: 0!important;
  }
}
@media (max-width: 300px){
  .css-hyum1k-MuiToolbar-root input{
    width: 50%!important;
  }
  .css-8u39c-MuiTypography-root img{
    /* background-color: yellow!important; */
    display: none !important;
  }
  .mix{
    font-size: 23px;
  }
  .details2 h3 {
    display: none;
  }
}

.css-hyum1k-MuiToolbar-root{
  justify-content: space-between;
}

.pagination{
  color: white !important;
}

.css-wjh20t-MuiPagination-ul button {
  color: white !important;
}

.Home-sub-container{
  margin-top: 30px;
  min-height: 80vh;
  display: flex!important;
  justify-content: center !important;
  align-items: center;
}